<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!--
    Servers:

    This section relates the repository/pluginRepository/mirror id property
    to a set of credentials that can be used to access the remote Maven
    repository.  Your password can be typed here in clear text, but a
    more secure method is provided via Password Encryption.  This requires
    you to set up a ~/.m2/settings-security.xml.  There is excellent and
    very simple documentation on how to set this up here:

    http://maven.apache.org/guides/mini/guide-encryption.html
    -->
    <servers>
        <server>
            <id>central</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>thirdparty</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>thirdparty-snapshot</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>pervasive</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>pervasive-snapshot</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>datacloud</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>datacloud-snapshot</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>dcbuild-releases</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>dcbuild-snapshots</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>dcbuild-thirdparty</id>
            <username>pvswread</username>
            <password>crOEcriuk4eR57dr</password>
        </server>
        <server>
            <id>pervasive-deploy</id>
            <username>pvswpublish</username>
            <password>{EH6TAsPYSk0H1c579J1zbp6qdy7ROzE9vCiwWkPr+AdF8rfQq7HCwHFFzCze8X5r}</password>
        </server>
    </servers>

    <!-- This lists your active profiles -->
    <!--   Note: If you want to emulate a production build run with -P !pvsw-snapshot -->
    <activeProfiles>
        <activeProfile>pvsw-standard</activeProfile>
        <activeProfile>pvsw-snapshot</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <!-- This profile is active at production build time -->
            <id>pvsw-standard</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://alm.actian.com/nexus/content/repositories/central</url>
                </repository>
                <repository>
                    <id>thirdparty</id>
                    <url>https://alm.actian.com/nexus/content/repositories/thirdparty-all</url>
                </repository>
                <repository>
                    <id>thirdparty-snapshot</id>
                    <url>https://alm.actian.com/nexus/content/repositories/thirdparty-snapshot</url>
                </repository>
                <repository>
                    <id>pervasive</id>
                    <url>https://alm.actian.com/nexus/content/repositories/pervasive</url>
                </repository>
                <repository>
                    <id>datacloud</id>
                    <url>https://alm.actian.com/nexus/content/repositories/datacloud</url>
                </repository>
                <repository>
                    <id>dcbuild-releases</id>
                    <url>https://alm.actian.com/nexus/content/repositories/dcbuild-releases</url>
                </repository>
                <repository>
                    <id>dcbuild-snapshots</id>
                    <url>https://alm.actian.com/nexus/content/repositories/dcbuild-snapshots</url>
                </repository>
                <repository>
                    <id>dcbuild-thirdparty</id>
                    <url>https://alm.actian.com/nexus/content/repositories/dcbuild-thirdparty</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://alm.actian.com/nexus/content/repositories/central</url>
                </pluginRepository>
                <pluginRepository>
                    <id>thirdparty</id>
                    <url>https://alm.actian.com/nexus/content/repositories/thirdparty-all</url>
                </pluginRepository>
                <pluginRepository>
                    <id>thirdparty-snapshot</id>
                    <url>https://alm.actian.com/nexus/content/repositories/thirdparty-snapshot</url>
                </pluginRepository>
                <pluginRepository>
                    <id>pervasive</id>
                    <url>https://alm.actian.com/nexus/content/repositories/pervasive</url>
                </pluginRepository>
                <pluginRepository>
                    <id>datacloud</id>
                    <url>https://alm.actian.com/nexus/content/repositories/datacloud</url>
                </pluginRepository>
                <pluginRepository>
                    <id>dcbuild-releases</id>
                    <url>https://alm.actian.com/nexus/content/repositories/dcbuild-releases</url>
                </pluginRepository>
                <pluginRepository>
                    <id>dcbuild-thirdparty</id>
                    <url>https://alm.actian.com/nexus/content/repositories/dcbuild-thirdparty</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <profile>
            <!-- This profile defines our snapshot repositories which are not used at production build time -->
            <id>pvsw-snapshot</id>
            <repositories>
                <repository>
                    <id>pervasive-snapshot</id>
                    <url>https://alm.actian.com/nexus/content/repositories/pervasive-snapshot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>datacloud-snapshot</id>
                    <url>https://alm.actian.com/nexus/content/repositories/datacloud-snapshot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>dcbuild-snapshots</id>
                    <url>https://alm.actian.com/nexus/content/repositories/dcbuild-snapshots</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>pervasive-snapshot</id>
                    <url>https://alm.actian.com/nexus/content/repositories/pervasive-snapshot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>datacloud-snapshot</id>
                    <url>https://alm.actian.com/nexus/content/repositories/datacloud-snapshot</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>dcbuild-snapshots</id>
                    <url>https://alm.actian.com/nexus/content/repositories/dcbuild-snapshots</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <!--  This forces ONLY the use of our local repositories -->
    <!--  Maven has a tendancy to want to dig around on the internet -->
    <!--  if you don't do this -->
    <mirrors>
        <mirror>
            <id>central</id>
            <url>https://alm.actian.com/nexus/content/repositories/central</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>pervasive</id>
            <url>https://alm.actian.com/nexus/content/repositories/pervasive</url>
            <mirrorOf>pervasive</mirrorOf>
        </mirror>
        <mirror>
            <id>pervasive-snapshot</id>
            <url>https://alm.actian.com/nexus/content/repositories/pervasive-snapshot</url>
            <mirrorOf>pervasive-snapshot</mirrorOf>
        </mirror>
        <mirror>
            <id>datacloud</id>
            <url>https://alm.actian.com/nexus/content/repositories/datacloud</url>
            <mirrorOf>datacloud</mirrorOf>
        </mirror>
        <mirror>
            <id>datacloud-snapshot</id>
            <url>https://alm.actian.com/nexus/content/repositories/datacloud-snapshot</url>
            <mirrorOf>datacloud-snapshot</mirrorOf>
        </mirror>
        <mirror>
            <id>dcbuild-releases</id>
            <url>https://alm.actian.com/nexus/content/repositories/dcbuild-releases</url>
            <mirrorOf>dcbuild-releases</mirrorOf>
        </mirror>
        <mirror>
            <id>dcbuild-snapshots</id>
            <url>https://alm.actian.com/nexus/content/repositories/dcbuild-snapshots</url>
            <mirrorOf>dcbuild-snapshots</mirrorOf>
        </mirror>
        <mirror>
            <id>dcbuild-thirdparty</id>
            <url>https://alm.actian.com/nexus/content/repositories/dcbuild-thirdparty</url>
            <mirrorOf>dcbuild-thirdparty</mirrorOf>
        </mirror>
        <mirror>
            <id>thirdparty-snapshot</id>
            <url>https://alm.actian.com/nexus/content/repositories/thirdparty-snapshot</url>
            <mirrorOf>thirdparty-snapshot</mirrorOf>
        </mirror>
        <mirror>
            <id>thirdparty</id>
            <url>https://alm.actian.com/nexus/content/repositories/thirdparty-all</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>

